html {
    height: 100vh;
    margin: 0px;
}

body {
    height: 100%;
    margin: 0px;
    font-family: "Helvetica Neue",
        Arial,
        "Hiragino Kaku Gothic ProN",
        "Hiragino Sans",
        Meiryo,
        sans-serif;
    font-weight: bolder;
}

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: -1;
}

.Paper_v2 {
    background-image:
        repeating-linear-gradient(to bottom,
            transparent 25px,
            rgba(0, 0, 0, 0.04) 26px, rgba(0, 0, 0, 0.04) 26px,
            transparent 27px, transparent 51px,
            rgba(0, 0, 0, 0.04) 52px, rgba(0, 0, 0, 0.04) 52px,
            transparent 53px, transparent 77px,
            rgba(0, 0, 0, 0.04) 78px, rgba(0, 0, 0, 0.04) 78px,
            transparent 79px, transparent 103px,
            rgba(0, 0, 0, 0.04) 104px, rgba(0, 0, 0, 0.04) 104px,
            transparent 105px, transparent 129px,
            rgba(0, 0, 0, 0.04) 130px, rgba(0, 0, 0, 0.04) 130px),

        repeating-linear-gradient(to right,
            transparent 25px,
            rgba(0, 0, 0, 0.04) 26px, rgba(0, 0, 0, 0.04) 26px,
            transparent 27px, transparent 51px,
            rgba(0, 0, 0, 0.04) 52px, rgba(0, 0, 0, 0.04) 52px,
            transparent 53px, transparent 77px,
            rgba(0, 0, 0, 0.04) 78px, rgba(0, 0, 0, 0.04) 78px,
            transparent 79px, transparent 103px,
            rgba(0, 0, 0, 0.04) 104px, rgba(0, 0, 0, 0.04) 104px,
            transparent 105px, transparent 129px,
            rgba(0, 0, 0, 0.04) 130px, rgba(0, 0, 0, 0.04) 130px);
}

.button {
    border: none;
    color: #fff;
    height: 30px;
    display: block;
    text-align: center;
    background: #0E79EA;
    border-radius: 4px;
    cursor: pointer;
    /* Webkit */
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 2px 3px 2px #000;
    /* Firefox */
    -moz-border-radius: 4px;
    -moz-box-shadow: 2px 3px 2px #000;
}

.hr1 {
    position: relative;
    height: 5px;
    border-width: 0;
    background-image: -webkit-linear-gradient(left,
            transparent 0%, #283593 50%, transparent 100%);
    background-image: linear-gradient(90deg,
            transparent 0%, #283593 50%, transparent 100%);
}

div#work-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 30px;
}

#work-list a {
    width: 250px;
    height: 200px;
    position: relative;
    padding: 1rem;
    box-shadow: 10px 10px #715c47;
    background-image: linear-gradient(135deg, transparent 10px, #efefef 10px);
    color: #212121;
    font-weight: bold;
    font-size: 26px;
    overflow: hidden;
}

#work-list a::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    border-width: 15px 15px 0px 0px;
    border-style: solid;
    border-color: transparent #715c47 transparent;
    box-shadow: 0 0 5px #000;
}

#work-list a:hover {
    text-decoration: none;
    background-color: #90bdd16e;
    box-shadow: 0 0 0;
}


.form-container {
    background: #333333;
    width: 700px;
    max-width: 700px;
    height: 500pt;
    padding: 20px 40px;
}

h2.form-title {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color: #fff;
}

.form-label {
    display: block;
    float: left;
    width: 200px;
    color: #fff;
}

.form-input {
    border: 0px;
    padding: 8px;
    color: #000;
    background: #F5F5F5;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px;
    /* Webkit */
    -webkit-box-shadow: 2px 3px 2px #000;
    /* Firefox */
    -moz-box-shadow: 2px 3px 2px #000;
}

.form-content-row {
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}