html {
    height: 100vh;
    margin:0px;
}
body {
    height: 100%;
    margin:0px;
}
.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: -1;
}

.Paper_v2 {
    background-image:
        repeating-linear-gradient(to bottom,
            transparent 25px,
            rgba(0, 0, 0, 0.04) 26px, rgba(0, 0, 0, 0.04) 26px,
            transparent 27px, transparent 51px,
            rgba(0, 0, 0, 0.04) 52px, rgba(0, 0, 0, 0.04) 52px,
            transparent 53px, transparent 77px,
            rgba(0, 0, 0, 0.04) 78px, rgba(0, 0, 0, 0.04) 78px,
            transparent 79px, transparent 103px,
            rgba(0, 0, 0, 0.04) 104px, rgba(0, 0, 0, 0.04) 104px,
            transparent 105px, transparent 129px,
            rgba(0, 0, 0, 0.04) 130px, rgba(0, 0, 0, 0.04) 130px),

        repeating-linear-gradient(to right,
            transparent 25px,
            rgba(0, 0, 0, 0.04) 26px, rgba(0, 0, 0, 0.04) 26px,
            transparent 27px, transparent 51px,
            rgba(0, 0, 0, 0.04) 52px, rgba(0, 0, 0, 0.04) 52px,
            transparent 53px, transparent 77px,
            rgba(0, 0, 0, 0.04) 78px, rgba(0, 0, 0, 0.04) 78px,
            transparent 79px, transparent 103px,
            rgba(0, 0, 0, 0.04) 104px, rgba(0, 0, 0, 0.04) 104px,
            transparent 105px, transparent 129px,
            rgba(0, 0, 0, 0.04) 130px, rgba(0, 0, 0, 0.04) 130px);
}

.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.video-container {
    position: relative;
    justify-self: center;
    align-self: center;
    margin: 10px;
    /* margin分を除いて広げられるだけ広げる */
    width: calc(100% - 10px * 2);
    height: calc(100% - 10px * 2);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.video-work-container {
    margin: 10px;
    /* margin分を除いて広げられるだけ広げる */
    width: calc(100% - 10px * 2);
    height: calc(100% - 10px * 2);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.controls-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
}
.controls-wrapper > #v-work-title {
    grid-column-start: 1;
    grid-column-end: 2;
}
.controls-wrapper > #add-video-work-button {
    justify-self: start;
    grid-column-start: 2;
    grid-column-end: 3;
}
.controls-wrapper > #v-work-delete {
    height: 30px;
    justify-self: end;
    grid-column-start: 5;
    grid-column-end: 6;
}
.controls-wrapper > #v-work-delete-button {
    justify-self: start;
    grid-column-start: 6;
    grid-column-end: 7;
}
#v-work-field {
    box-sizing: border-box;
    background-color: #EEE;
    margin: 10px;
    /* margin分を除いて広げられるだけ広げる */
    width: calc(100% - 10px * 2);
    height: 300px;
    background-color: #a1e180;
    /*横向きのスクロール禁止*/
    overflow-x: hidden;
    /*縦向きのスクロール許可*/
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /*IE、Edgeでスクロールバーを非表示にする*/
    -ms-overflow-style: none;
}

/*Chrome、Safariでスクロールバーを非表示にする*/
#v-work-field::-webkit-scrollbar {
    display: none;
}

#v-work-ul {

}


.button {
    border: none;
    color: #fff;
    height: 30px;
    display: block;
    text-align: center;
    background: #0E79EA;
    border-radius: 4px;
    cursor: pointer;
    /* Webkit */
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 2px 3px 2px #000;
    /* Firefox */
    -moz-border-radius: 4px;
    -moz-box-shadow: 2px 3px 2px #000;
}